.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--c-surface);
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  border: 3px solid var(--c-primary);
}

.submitBtn {
  margin-top: 1rem;
}
