.notesInput {
  background: var(--c-primary);
  background-color: var(--c-primary);
  color: var(--c-on-primary);
  transition: background-color 0.3s ease;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: var(--card-border);
}

.notesInput:focus {
  background: var(--c-secondary);
  background-color: var(--c-secondary);
}

.notesInput::placeholder {
  color: var(--c-muted);
}
