@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --c-bg: #eff6e0ff;
  --c-text: #01161eff;

  --c-primary: #124559ff;
  --c-secondary: #598392ff;
  --c-on-primary: #eff6e0ff;

  --c-muted: #aec3b0ff;
  --c-surface: #f6faef;

  --font-title-hero: 3rem;
  --font-title: 2rem;
  --font-paragraph: 1rem;

  --font-weight-title: 600;
  --font-weight-medium: 500;
  --font-weight-paragraph: 400;

  --font-main: "Inter", system-ui, -apple-system, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  font-size: var(--font-paragraph);
  font-family: var(--font-main);
  font-weight: var(--font-weight-paragraph);
  color: var(--c-text);
  background: var(--c-bg);

  min-height: 100vh;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
